.b-radius40 {
  border-radius: 40px !important;
}
.b-radius30 {
  border-radius: 30px !important;
}
.b-radius20 {
  border-radius: 20px !important;
}
.b-radius10 {
  border-radius: 10px !important;
}
.b-radius5 {
  border-radius: 5px !important;
}
